
### .gitignore

# Node.js
node_modules/

# File compilati
dist/
build/
*.min.js

# macOS
.DS_Store

# Windows
Thumbs.db

# Visual Studio Code
.vscode/

# Sublime Text
.sublime*

# Log
*.log

# Variabili di ambiente
.env

# File dell'IDE
.idea/

# Directory delle dipendenze
venv/
